{{!< default}}
{{!>header}}
{{>simply_slider_about}}
    <!--this is simply slider with two pictures, just remove ! to enable slider-->
    <!--this section is about the company-->
    <section class="content-area bg1 animated" data-fx="fadeInUp">
        <div class="container">
            <header class="page-header text-center">
                <h2>How did we start?</h2>
            </header>
            <div class="row">
                <div class="col-md-6">

                    <p class="larger">
                      The Front Porch Coalition was created after an informal meeting on March 2, 2001 in Rapid City of more than 50 people who wanted to do something about the problem of suicide. Today, the Coalition is a leader locally, statewide, and nationally in a movement that is gaining momentum in preventing suicide, one community at a time, one person at a time. It is the only agency in Western South Dakota solely devoted to suicide prevention.
                    </p>

                    <p class="larger">
                      The Coalition’s work has been central to bringing the prevalence of suicide–the 2nd leading cause of death of people ages 15-34 and tragically the #1 leading cause of death among our young people ages 12-22. It is also the 9th leading cause of death of people all ages in South Dakota to the attention of the public, community leaders,
                      and lawmakers.
                    </p>

                </div>

                <div class="col-md-6">
                    <p class="larger">
                        Front Porch Coalition, Inc. is a private 501c3 nonprofit organization serving families and friends who have tragically lost someone to suicide through its L.O.S.S. (Local Outreach to Suicide Survivors) first response team.
                    </p>


                    <p class="larger">
                        We also coordinate suicide prevention, education, training, and awareness services to the community by educating people of all ages, demographic backgrounds, civic, and community groups on the incidence of suicide and how to prevent it. We serve the Rapid
                        City, Northern Black Hills
                    </p>
                    <p class="larger">
                      The Coalition believes that together there is hope–and invites you to become a partner to help advance and sustain suicide prevention programs throughout the Black Hills.
                    </p>

            </div>
          </div>
        </div>
    </section>


    <section class="content-area bg2 animated" data-fx="fadeInUp">
        <div class="container">
            <header class="page-header text-center">


                <h2>The goals of the Front Porch Coalition</h2>

                <p class="larger">
                   The Front Porch Coalition is guided by five goals, which are based on the National Strategy for Suicide Prevention and the South Dakota Strategy for Suicide Prevention:
                </p>
            </header>

            <div class="row">
                <div class="col-md-12">
                  <div class="goal_list">
                    <ul>
                      <li><p class="larger">1) Provide education at every level about suicide prevention and its causes.</p></li>
                      <li><p class="larger">2) Improve services to survivors of suicide (people who have lost a loved one to suicide).</p></li>
                      <li><p class="larger">3) Facilitate collaboration among caregivers who work in mental health and suicide prevention and treatment to reduce suicide and the impact of its causes.</p></li>
                      <li><p class="larger">4) Create public awareness of the incidence of suicide to prevent suicide, reduce the impact of its causes, and improve the support to survivors of suicide.</p></li>
                      <li><p class="larger">5) Create public awareness on the need for mental health care that will effectively create appropriate help-seeking behaviors that will reduce the incidence of suicide.</p></li>
                    </ul>
                  </div>
                </div>
            </div>
        </div>
    </section>
    <!-- / section -->




    <section class="content-area brightText" data-bg="{{asset "/images/demo-content/testimonials-bg.jpg"}}" data-btmspace="75">
        <div class="container">

            <div class="flexslider std-slider center-controls" data-animation="fade" data-loop="true" data-animspeed="600" data-dircontrols="true" data-controls="true">
                <ul class="slides">
                    <li>
                        <blockquote class="huge text-center">
                            <p>
                                Suicide prevention seeks to reduce the factors the increase suicide risk while increasing the protect people from suicide.
                            </p>
                            <span class="author">Suicide Prevention Recource Center</span>
                        </blockquote>
                    </li>
                    <li>
                        <blockquote class="huge text-center">
                            <p>
                                The only important thing about design is how it relates to people.
                            </p>
                            <span class="author">Victor Papanek</span>
                        </blockquote>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <section class="content-area bg1 animated" data-fx="fadeInUp">
        <div class="container">
            <header class="page-header text-center">
                <h1 class="page-title">Our team</h1>

                <h2>The right people</h2>
            </header>

            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="personBox">
                        <img src="{{asset "/images/demo-content/team-01.jpg"}}" alt="">
                        <h4>Robert Judd
                        <span>CEO</span>
                    </h4>
                        <hr>
                        <ul class="socialNormal list-inline">
                            <li><a href="#" data-toggle="tooltip" title="Facebook"><i class="fa fa-facebook-square"></i></a></li>
                            <li><a href="#" data-toggle="tooltip" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#" data-toggle="tooltip" title="LinkedIn"><i class="fa fa-linkedin-square"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="personBox">
                        <img src="{{asset "/images/demo-content/team-02.jpg"}}" alt="">
                        <h4>Eva Barnes
                        <span>Designer</span>
                    </h4>
                        <hr>
                        <ul class="list-inline socialNormal">
                            <li><a href="#" data-toggle="tooltip" title="Facebook"><i class="fa fa-facebook-square"></i></a></li>
                            <li><a href="#" data-toggle="tooltip" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#" data-toggle="tooltip" title="LinkedIn"><i class="fa fa-linkedin-square"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="personBox">
                        <img src="{{asset "/images/demo-content/team-03.jpg"}}" alt="">
                        <h4>Eugene Fletcher
                        <span>Developer</span>
                    </h4>
                        <hr>
                        <ul class="list-inline socialNormal">
                            <li><a href="#" data-toggle="tooltip" title="Facebook"><i class="fa fa-facebook-square"></i></a></li>
                            <li><a href="#" data-toggle="tooltip" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#" data-toggle="tooltip" title="LinkedIn"><i class="fa fa-linkedin-square"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="personBox">
                        <img src="{{asset "/images/demo-content/team-04.jpg"}}" alt="">
                        <h4>Janet McKenzie
                        <span>Support</span>
                    </h4>
                        <hr>
                        <ul class="list-inline socialNormal">
                            <li><a href="#" data-toggle="tooltip" title="Facebook"><i class="fa fa-facebook-square"></i></a></li>
                            <li><a href="#" data-toggle="tooltip" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#" data-toggle="tooltip" title="LinkedIn"><i class="fa fa-linkedin-square"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
